body {
  margin: 0;
  padding:0
}
html {
  line-height: 1.25; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
*{
  box-sizing: border-box;
}
.table-container /deep/ .el-table .el-table__fixed-header-wrapper th,.table-container /deep/ .el-table .el-table__header-wrapper th{
  background-color: #f8f8f9;
  color: #515a6e;
}

.line1{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
